body{
    background-color: rgba(215, 219, 130, 0.925);
}

table, th, td {
    border:1px solid black;
 }
  tr td{
      padding: 10px; 
      background-color: rgb(240, 235, 229);    
     }
  th{
      background-color:rgb(216, 115, 81);
      padding: 10px; 
  }